apiVersion: apps/v1
kind: Deployment
metadata:
    name: collector
spec:
    selector:
        matchLabels:
            app: collector
    replicas: 1
    template:
        metadata:
            labels:
                app: collector
        spec:
            containers:
                -   name: collect-consumer
                    image: mrsuh/rent-collector:1.3.1
                    envFrom:
                        -   configMapRef:
                                name: collector-configmap-1.1.0
                        -   secretRef:
                                name: collector-secrets-1.0.0
                    volumeMounts:
                        -   name: collector-persistent-storage
                            mountPath: /tokenStorage
                    command: ["php"]
                    args: ["bin/console", "app:consume", "--channel=collect"]

                -   name: parse-consumer
                    image: mrsuh/rent-collector:1.3.1
                    envFrom:
                        -   configMapRef:
                                name: collector-configmap-1.1.0
                        -   secretRef:
                                name: collector-secrets-1.0.0
                    volumeMounts:
                        -   name: collector-persistent-storage
                            mountPath: /tokenStorage
                    command: ["php"]
                    args: ["bin/console", "app:consume", "--channel=parse"]
            volumes:
                -   name: collector-persistent-storage
                    persistentVolumeClaim:
                        claimName: collector-pv-claim