apiVersion: v1
kind: Secret
metadata:
    name: collector-secrets-1.0.0
type: Opaque
data:
    DATABASE_PASSWORD: hash==
    DATABASE_USER: hash==
    VK_APP_ID: hash==
    VK_APP_TOKEN: hash==
    VK_PASSWORD: hash==
    VK_USERNAME: hash==

